<h1> gogogogo </h1>


<!--
<form action= "/new" method = "post" > 
	Ton p'tit nom: 
	<input type="text" name="username"> <br> </br>
	Ton p'tit mail : 
	<input type="text" name="email"> <br> </br>
	Et ici tu peux raconter ta vie insignifiante : 
	<input type="text" name="bio"><br> </br>

	<input type="hidden" name="authenticity_token"
	value=" <%= form_authenticity_token %>" >


	<input type="submit" name="envoyer">
</form>

-->


<%= form_tag "/new", method:"post" do %>
	Ton p'tit nom: 
  <input type="text" name="username" /> <br> </br>
  	Ton p'tit mail 
   <input type="text" name="email" /><br> </br>
   Et ici tu peux raconter ta vie insignifiante :
    <input type="text" name="bio" /><br> </br>

    <input type="hidden" name="authenticity_token"
	value=" <%= form_authenticity_token %>" >

  <input type="submit" value="Ajouter" />
<% end %>